
<!--[if lte IE 7]>
	<script type="text/javascript">
		var WEBFX_PNG_PATTERN=".*.png";
		var WEBFX_PNG_BLANK = "<{xoImgUrl jseffects/img/blank.gif}>";
	</script>
	<style type="text/css">
	img { behavior: url(<{xoImgUrl jseffects/pngbehavior.htc}>); }
	#xo-page .xo-blockszone > .xo-block {
	border: 1px solid #c6c1c1;
	background: url(<{xoImgUrl img/centerblock-inner_old.png}>) repeat-x left top;
	padding-top: 2px;
	}
	</style>
<![endif]-->	